#container{
	width: 360px;
	margin: 100px auto;
	border: 2px solid black;
	background-color: #f7f7f7;
	font-size: 20px;
	font-weight: normal;

}
.fa-plus{
	float:right;
}
body{
	font-family: "Roboto";
	background: #D3959B;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #BFE6BA, #D3959B);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #BFE6BA, #D3959B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
ul{
	list-style: none;
}
h1{
	color:white;
	background-color: #2980b9;
	margin:0;
	padding: 10px 20px;
	text-transform: uppercase;
}

input{
	font-size:18px;
	background-color: #f7f7f7;
	width:100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	color:#2980b9;
}

input:focus{
	background-color: #fff;
	border:3px solid #2980b9;
	outline:none;
}

li{
	background-color: #fff;
	height:40px;
	line-height:40px;
	color: #666;
}

li:nth-child(2n){
background-color: #f7f7f7;
}



.strike{
	color:gray;
	text-decoration: line-through;
}